<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>UserPage</title>
</head>
<body>

  <p>Great on user page</p>
  <a href="users/create">creat new Account</a>
  <ul>
    {{#each users}}
      <li><a href="/users/{{this.id}}">{{this.name}}</a></li>
    {{/each}}
  </ul>
</body>
</html>